@import './vars.css';
@import './prose.css';

/** Section: Init Origin */
html {
  --at-apply: bg-l-bg  overflow-scroll;
  transition: 0.5s ease;
}
html.dark {
  --at-apply: bg-d-bg;
  transition: 0.5s ease;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/** EndSection */

/** Section: Plugin - NProgress */
#nprogress {
  --at-apply: pointer-events-none;
}

#nprogress .bar {
  --at-apply: bg-brand h-2px op-75 fixed top-0 left-0 w-full z-1001;
}
/** EndSection: */

/** Section: Plugin - Medium Zoom */
.medium-zoom-overlay {
  @apply: z-100 bg-c-bg! bg-op-80! dark:bg-op-80!;
  -webkit-backdrop-filter: saturate(50%) blur(4px);
  backdrop-filter: saturate(50%) blur(4px);
}
.medium-zoom-overlay ~ img {
  --at-apply: z-101;
}
/** EndSection: */
